[Desktop Entry]
Encoding=UTF-8
Name=Lien vers L'image flotte autour du texte grâce à la propriété float
Type=Link
URL=https://user.oc-static.com/files/5001_6000/5646.png
Icon=image-png
